{% extends 'main.html' %}
{% block content %}
<head> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<div class="today">
	<h2>Calorie Calcularor Tracker</h2>
	<div class="flex-box-row">
		<h3>Calorie Limit: 2000</h3>
		<h3>totalCalories consumed: {{totalCalories}}</h3>
		{% if  totalCalories > 2000 %}
			<script>
				alert('Total Calorie Consumed is over 2000');
			</script>
		{% endif %}
		<h3>Left: {{ CalorieLeft }}</h3>
	</div>
	
    <div class="card card-body">
        <table>
            <tr>
                <th>Fooditem</th>
                <th>Calorie</th>
                <th>Carbs</th>
                <th>Fats</th>
                <th>Protien</th>
				<th>
					<form action="{% url 'addFooditem' %}" method="POST">
						{%csrf_token%}
						<button type="submit" class="btn btn-success btn-sm">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</form> 
				</th>
            </tr>
            {% for food in foodlist %}
            <tr>
                <td>{{food.name}}</td>
                <td> {{food.calorie}}</td>
                <td> {{food.carbohydrate}}</td>
                <td> {{food.fats}}</td>
				<td> {{food.protein}}</td>
				<td><a href="{% url 'fooditemupdate' food.id %}"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="{% url 'fooditemdelete' food.id %}"><span class="glyphicon glyphicon-trash"></span></a></td> 
			</tr>
            {% endfor %}
        </table>
	</div>
</div>
<br>
<h3>Available items:</h3>
<form method="get">
	{{myfilter.form}}
<button class="btn btn-primary" type="submit">Search</button>
</form>
<br>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>fooditem</th>
					<th>Calorie</th>
					<th>Carbs</th>
					<th>Fats</th>
					<th>Protien</th>
				</tr>
				{% for food in fooditem %}
				<tr>
					<td>{{food.name}}</td>
					<td> {{food.calorie}}</td>
					<td> {{food.carbohydrate}}</td>
                    <td> {{food.fats}}</td>
                    <td> {{food.protein}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}